<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ServiceAContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/ServiceA2" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ServiceAContract" contract="ServiceA2.ServiceAContract"
                name="BasicHttpBinding_ServiceAContract" />
        </client>
    </system.serviceModel>
</configuration>