<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="http://192.168.1.18:8888/CallbackService"
                binding="wsDualHttpBinding" bindingConfiguration="" contract="Library.INotificationServices"
                name="WSDualHttpBinding_INotificationServices" />
            <endpoint address="net.Tcp://192.168.1.18:8732/CallbackService"
                binding="netTcpBinding" bindingConfiguration="" contract="Library.INotificationServices"
                name="NetTcpBinding_INotificationServices" />
        </client>
    </system.serviceModel>
</configuration>