<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttp" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/HelloIndigo/HelloIndigoService"
                binding="basicHttpBinding" bindingConfiguration="basicHttp"
                contract="localhost.IHelloIndigoService" name="basicHttp" />
        </client>
    </system.serviceModel>
</configuration>