<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings />
        <client>
            <endpoint address="http://192.168.1.18:8001/AddService.svc/AddService" binding="wsDualHttpBinding"
                bindingConfiguration="" contract="ServiceContracts.IAddService"
                name="AddService_Binding" />
        </client>
    </system.serviceModel>
</configuration>