<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NewBinding1">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="NewBinding0">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.18:8001/AddService"
                binding="wsDualHttpBinding" bindingConfiguration="NewBinding0"
                contract="ServiceContracts.IAddService" name="AddService_wsDualHttpBinding" />
            <endpoint address="net.tcp://192.168.1.18:8003/AddService"
                binding="netTcpBinding" bindingConfiguration="NewBinding1"
                contract="ServiceContracts.IAddService" name="AddService_netTcpBinding" />
        </client>
    </system.serviceModel>
</configuration>