<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="NewBehavior0">
          <serviceMetadata />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="NewBehavior0" name="Library.NotificationService">
        <endpoint address="CallbackService" binding="netTcpBinding" bindingConfiguration=""
            contract="Library.INotificationServices" />
        <endpoint address="CallbackService" binding="wsDualHttpBinding"
            bindingConfiguration="" contract="Library.INotificationServices" />
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
            contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
            contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.Tcp://192.168.1.18:8732" />
            <add baseAddress="http://192.168.1.18:8888" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>