<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="serviceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <netTcpBinding>
                <binding name="netTcpBinding">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
            <wsDualHttpBinding>
                <binding name="wsDualHttpBinding">
                    <security mode="None" />
                </binding>
            </wsDualHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="serviceBehavior" name="Services.AddService">
                <endpoint address="AddService" binding="netTcpBinding" bindingConfiguration="netTcpBinding"
                    name="netTcpEndpoint" contract="ServiceContracts.IAddService" />
                <endpoint address="AddService" binding="wsDualHttpBinding" bindingConfiguration="wsDualHttpBinding"
                    name="wsDualHttpEndpoint" contract="ServiceContracts.IAddService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://192.168.1.18:8001" />
                        <add baseAddress="net.tcp://192.168.1.18:8003" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>