<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="ServiceBehavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="ServiceBehavior" name="BusinessServices.ServiceA">
                <endpoint address="ServiceA" binding="basicHttpBinding" bindingConfiguration=""
                    contract="BusinessServices.IServiceA" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8000" />
                    </baseAddresses>
                </host>
            </service>
            <service behaviorConfiguration="ServiceBehavior" name="BusinessServices.ServiceA2">
                <endpoint address="ServiceA2" binding="basicHttpBinding" contract="BusinessServices.IServiceA2" />
                <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
                    contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8001" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>