<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceA" />
                <binding name="BasicHttpBinding_IServiceB" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IServiceB" />
                <binding name="NetNamedPipeBinding_IAdmin" />
            </netNamedPipeBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceA" />
                <binding name="NetTcpBinding_IAdmin" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/ServiceA" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceA" contract="ServiceA.IServiceA"
                name="BasicHttpBinding_IServiceA" />
            <endpoint address="net.tcp://localhost:9000/ServiceA" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceA" contract="ServiceA.IServiceA"
                name="NetTcpBinding_IServiceA">
                <identity>
                    <userPrincipalName value="LUJUNTAO\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9000/Admin" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAdmin" contract="ServiceA.IAdmin"
                name="NetTcpBinding_IAdmin">
                <identity>
                    <userPrincipalName value="LUJUNTAO\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8001/ServiceB" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServiceB" contract="ServiceB.IServiceB"
                name="BasicHttpBinding_IServiceB" />
            <endpoint address="net.pipe://localhost/ServiceB" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IServiceB" contract="ServiceB.IServiceB"
                name="NetNamedPipeBinding_IServiceB">
                <identity>
                    <userPrincipalName value="LUJUNTAO\Administrator" />
                </identity>
            </endpoint>
            <endpoint address="net.pipe://localhost/Admin" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IAdmin" contract="ServiceB.IAdmin"
                name="NetNamedPipeBinding_IAdmin">
                <identity>
                    <userPrincipalName value="LUJUNTAO\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>