<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://localhost:9000/ServiceA" binding="netTcpBinding"
                bindingConfiguration="" contract="BusinessServiceContracts.IServiceA" />
            <endpoint address="net.tcp://localhost:9000/Admin" binding="netTcpBinding"
                bindingConfiguration="" contract="BusinessServiceContracts.IAdmin"
                name="TCP_IAdmin" />
            <endpoint address="net.pipe://localhost/ServiceB" binding="netNamedPipeBinding"
                bindingConfiguration="" contract="BusinessServiceContracts.IServiceB" />
            <endpoint address="net.pipe://localhost/Admin" binding="netNamedPipeBinding"
                contract="BusinessServiceContracts.IAdmin" name="IPC_IAdmin" />
        </client>
    </system.serviceModel>
</configuration>