<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NewBinding1">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="NewBinding0">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="serviceBehavior" name="Services.AddService">
        <endpoint address="AddService" binding="wsDualHttpBinding" bindingConfiguration="NewBinding0"
          contract="ServiceContracts.IAddService" />
        <endpoint address="AddService" binding="netTcpBinding" bindingConfiguration="NewBinding1"
          contract="ServiceContracts.IAddService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.1.18:8001" />
            <add baseAddress="net.tcp://192.168.1.18:8002" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment>
      <serviceActivations>
        <add relativeAddress="AddService.svc" service="Services.AddService"/>
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        若要在调试过程中浏览 Web 应用程序根目录，请将下面的值设置为 True。
        在部署之前将该值设置为 False 可避免泄露 Web 应用程序文件夹信息。
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="System.ServiceModel" switchValue="Information, ActivityTracing" propagateActivity="true">
        <listeners>
          <add name="sdt" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\inetpub\Callback\Log\SdrConfigExample.svclog"/>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>