<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ServiceBehavior" name="BusinessServices.ServiceA">
        <endpoint address="ServiceA" binding="basicHttpBinding" bindingConfiguration=""
            contract="BusinessServiceContracts.IServiceA" />
        <endpoint address="ServiceA" binding="netTcpBinding" bindingConfiguration=""
            contract="BusinessServiceContracts.IServiceA" />
        <endpoint address="Admin" binding="netTcpBinding" bindingConfiguration=""
            contract="BusinessServiceContracts.IAdmin" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8000" />
            <add baseAddress="net.tcp://localhost:9000" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="ServiceBehavior" name="BusinessServices.ServiceB">
        <endpoint address="ServiceB" binding="basicHttpBinding" bindingConfiguration=""
            contract="BusinessServiceContracts.IServiceB" />
        <endpoint address="ServiceB" binding="netNamedPipeBinding" bindingConfiguration=""
            contract="BusinessServiceContracts.IServiceB" />
        <endpoint address="Admin" binding="netNamedPipeBinding" bindingConfiguration=""
            contract="BusinessServiceContracts.IAdmin" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001" />
            <add baseAddress="net.pipe://localhost" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>