<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="HelloIndigo.HelloIndigoService" behaviorConfiguration="serviceBehavior">
				<endpoint address="HelloIndigoService" binding="wsHttpBinding" contract="HelloIndigo.IHelloIndigoService" />
				<endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8000"/>
						<add baseAddress="net.tcp://localhost:9000"/>
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>