<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService">
                    <security mode="None"/>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.18:8000/Yun/Service" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IService" contract="YunServiceReference.IService" name="WSHttpBinding_IService"/>
        </client>
    </system.serviceModel>
</configuration>
