<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IService">
                    <security>
                        <transport clientCredentialType="None" />
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Yun/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IService" contract="localhost.IService"
                name="BasicHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>