<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IService">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.18:8000/Yun/Service" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IService" contract="localhost.IService"
                name="WSHttpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>