<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_GigManagerServiceContract" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/GigManagerService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_GigManagerServiceContract"
                contract="localhost.GigManagerServiceContract" name="NetTcpBinding_GigManagerServiceContract">
                <identity>
                    <userPrincipalName value="LUJUNTAO\Administrator" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>